/* Reset block */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { color: black; }
sup { font-size: 0.8em; position: relative; top: -0.5em;}
sub { font-size: 0.8em; position: relative; bottom: -0.25em; }

/* Cosmos-specific styles */
html,body {
	height: 100%;
	margin: 0px;
}
body { font-family: "Helvetica Neue", sans-serif; text-align: left; margin: 0px; background-color: #f9f9fa; padding: 2em; }

#content { position: relative; width: 782px; max-width: 95%; margin: auto; }
h1 { font-size: 1.8em; font-weight: 500; }
h2 { font-size: 1.5em; font-weight: 500; }
h3 { font-size: 1.25em; font-weight: 500; }
p, pre { margin-bottom: 1em; margin-top: 1em; }
p:last-child { margin-bottom: 0px; }

pre.prettyprint, .output { border: 0px; background-color: #efefef; padding: 1em; overflow-x: auto; }
code { font-family: monospace; color: #404040; background-color: #efefef; padding: 0 0.25em; }
pre code { background-color: transparent; }

pre.prettyprint { padding: 1em; border: 0px; }
pre.prettyprint .tag { color: #2254F4; }
pre.prettyprint .lit { color: #2254F4; }
pre.prettyprint .atn { color: #D73058; }
pre.prettyprint .atv { color: #0DBC37; }
pre.prettyprint .com { color: #aaa; }

/* Github stuff */
h1, h2, h3 { margin-top: 1.5em; }
div h2 { margin-top: 0px; }
section { margin-top: 2em; padding: 1em; }
section#downloads { margin-top: auto; padding: 0px; }

#forkme_banner {
	display: block;
	position: absolute;
	top:0;
	right: 10px;
	z-index: 100;
	padding: 10px 50px 10px 10px;
	color: #fff;
	background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
#downloads {
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 10;
	line-height: 2em;
}
#downloads a {
	padding-left: 2em;
	background: url('../images/icon_download.png') no-repeat 0% 50%;
}

button, select {
	font-size: 1em;
	cursor: pointer;
	background-color: #dfdfdf;
	color: #5b5b5b;
	border: 1px solid #5b5b5b;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em 0.5em;
}
button:hover, button:focus, button.selected {
	background-color: white!important;
	color: black!important;
}
ul {
	list-style: disc;
	margin-left: 1.5em;
	margin-bottom: 2em;
}

@media only screen and (max-width: 900px) {
	#downloads {
		float: none;
		position: relative;
		background-color: #efefef;
		padding: 0.25em 0.5em;
		margin-top: 2em;
	}
	h1 {
		margin-top: 1em;
	}

}